*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    
}
body{
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #fff;
    border-bottom: 0px solid rgb(109, 101, 101);
    box-shadow: 0px 0px 5px 0px rgb(117, 108, 108);
    margin-top: 0;
    margin-right: 0;
}

header nav ul{
    display: flex;
    margin: 25px;
    gap: 50px;
    font-size: 22px;
    font-weight: bold;
}
header nav ul li{
    position: relative;
}
header nav ul li:hover{
    color: orangered;
    cursor: pointer;
}
header nav ul li::before{
    content: "";
    position: absolute;
    background-color: orangered;
    height: 3px;
    width: 0%;
    top: -5px;
    transition: all 0.5s ease;  
}
header nav ul li::after {
    content: "";
    position: absolute;
    background-color: orangered;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0%;
    transition: all 0.5s ease;
}
header nav ul li:hover::before{
    width: 100%;
}
header nav ul li:hover::after{
    width: 100%;   
}
.user{
    background-color: orangered;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
section{
    background-image: url(./images/bg-home.jpg);
    background-size: cover;
    height: 100vh;
}
.head h1{
    color: orangered;
    font-size: 90px;
    padding-left: 100px;
    padding-top: 100px;
}
.head h2{
    color: white;
    padding-left: 100px;
    font-size: 45px;
}
.head p{
    color: white;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 550px;
    font-size: 25px;
    font-weight: bold;
}
.get ul{
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
}
.form{
    background-color: white;
    height: 110px;
    margin-top: 0;
    margin-right: 300px;
    margin-left: 100px;
    border-radius: 12px;
    padding-top: 20px;
    padding-left: 20px;
}
.form ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form ul li label{
    font-size: 25px;
    font-weight: bold;
}
.form ul li input{
    height: 40px;
    width: 165px;
    border: none;
    font-size: 20px;
    text-align: center;
    background-color: rgb(206, 205, 205);
    border-radius: 5px;
}
.button_1{
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    margin-right: 55px;
    background-color: orangered;
    color: white;
    border-radius: 12px;
}
.button_1:hover{
    color: orangered;
    background-color: white;
    border-color: orangered;
    cursor: pointer;
}
.section_1{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.emplacement p{
    color: orangered;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}
.emplacement h3{
    font-size: 65px;
}
.emplacement_1{
    display: flex;
    gap: 70px;
    padding: 30px;
    margin-top: 40px;
}
.emplacement_1 .emplacement_item{
    padding: 50px;
    position: relative;
}
.emplacement_1 .emplacement_item:hover{
    transform: scale(1.06);
}
.emplacement_1 .emplacement_item::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 50%;
    border: 4px solid orangered;
    left: -.1em;
    top: 1em;
    border-bottom: none;
    border-right: none;
    transition: all 0.5s ease;

}
.emplacement_1 .emplacement_item::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 50%;
    right: -.1em;
    bottom: .6em;
    border: 4px solid orangered;
    border-top: none;
    border-left: none;
    transition: all 0.5s ease;
}
.emplacement_1 .emplacement_item:hover::before{
    width: 99.5%;
    height: 90%;

}
.emplacement_1 .emplacement_item:hover::after{
    width: 100%;
    height: 91%;

}
.emplacement_1 .emplacement_item h3{
    font-size: 20px;
}
.prestation .title_prestation{
    text-align: center;
}
.prestation .title_prestation h4{
    color: orangered;
    font-size: 30px;
    margin-bottom: 15px;
}
.prestation .title_prestation p{
    font-size: 70px;
    font-weight: bold;
}
.gallery{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    margin: 0px 60px 70px 75px;
}
.gallery .gallery_item{
    border: 1px solid rgb(190, 188, 188);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(177, 176, 176);
}
.gallery_item:hover{
    transform: scale(1.02);
    transition: 500ms;
}
.gallery .gallery_item .image img{
    border-radius: 12px;
    padding: 5px;
}
.gallery .gallery_item .content{
    padding-left: 10px;
}
.content button{
    padding: 5px 12px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border: none;
}
.content h4{
    font-size: 20px;
    margin-top: 10px;
}
.content p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: orangered;
}
.gallery_item .location{
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px 45px;
    font-size: 20px;
    background-color: rgb(255, 68, 0);
    color: white;
    border: none;
    border-radius: 12px;

}
.gallery_item .location:hover{
    background-color: rgba(255, 68, 0, 0.74);
    border: 1px solid orangered;
    cursor: pointer;
    transition: 100ms;
}
.history{
    margin-left: 60px;
}
.title_history p{
    text-align: center;
    font-size: 30px;
    color: orangered;
    margin-bottom: 15px;
}
.title_history h3{
    text-align: center;
    font-size: 70px;
    margin-bottom: 40px;
}
.about{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 50px 40px 20px;
}
.content_about h3{
    color: orangered;
    font-size: 30px;
    margin-bottom: 20px;    
}
.content_about p{
    font-size: 20px;
    margin-bottom: 15px;
}
.content_about .more{
    width: 45vw;
    padding: 12px;
    font-size: 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 12px;
}
.content_about .more:hover{
    background-color: beige;
    color: orangered;
    border: 1px solid orangered;
    cursor: pointer;
}
.avis_content{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.avis_content p{
    font-size: 35px;
    color: orangered;
}
.avis_content h3{
    font-size: 60px;
}
.avis_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 50px 50px 100px;
    padding: 20px;
    gap: 30px;
}
.avis_container .avis_item{
    text-align: center;
    border: 1px solid rgb(180, 174, 174);
    border-bottom: 4px solid orangered;
    box-shadow: 0px 0px 10px 0px rgb(155, 154, 154);
    padding: 40px;
}
.avis_item img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.login{
    background-color: orangered;
    height: 275px;
    text-align: center;
    font-size: 35px;
    margin-left: 15px;
}
.login p{
    margin-top: 65px;
    margin-bottom: 32px;
    color: white;
    font-weight: bold;
}
.login input{
    width: 40vw;
    height: 70px;
    position: relative;
    text-align: left;
    font-size: 25px;
    padding-left: 15px;
}
.login button{
    position: absolute;
    top: 252.4rem;
    left: 60vw;
    padding: 10px;
    font-size: 25px; 
    border: none;
    border-radius: 10px;
    background-color: orangered;
    color: white;
}
.login button:hover{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    cursor: pointer;
    transition: 100ms;
}
.white{
    background-color: white;
    height: 50px;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 65px;
    margin-left: 15px;
    padding: 40px 40px 100px 60px;
}
footer .icons ul{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
footer .icons ul li{
    font-size: 35px;
    color: rgb(252, 84, 23);
}
footer .information{
    margin-top: 20px;
}
footer .information p{
    font-size: 25px;
    margin-bottom: 15px;

}
footer .information ul{
    font-size: 18px;
    line-height: 1.5rem;
    color: rgb(252, 84, 23);
}
.dedicasse{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
